<% content_for :title, "El Sallab - Gallery" %>
        <section class="Sbreadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                  <li><a href="<%= frontend_home_url %>">Homepage</a></li>
                  <li><a href="#">Gallery</a></li>
                </ol>
            </div>
        </section>