<div class="form-group">
	<label class="col-md-3 control-label">Select Images</label>
	<div class="col-md-9">
		<div id="uploaderWrapper" class="dropzone" data-name="photo[image]" data-url="<%= url_for seven_gallery.gallery_photos_url(@item.item_gallery) %>">
		  <p class="dz-message">Select photos</p>
		</div>
	</div>
</div>