<% content_for :title, "El Sallab" %>
        <div class="homeSections">
            <ul class="list-unstyled clearfix">
                <% @product_sections.each do |s| %>
                    <li><a href="#"><div><span><%= s.title %></span></div>
                        <img alt="Tropicana" src="<%= s.image.thumb.url %>" class="img-responsive"></a>
                    </li>
                <% end %>
            </ul>
        </div>

    <%= banner_markup banner: @banner %>

