<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product_section.title %>
</p>

<%= link_to 'Edit', edit_product_section_path(@product_section) %> |
<%= link_to 'Back', product_sections_path %>
