<!DOCTYPE html>
<html>
<head>
  <title>Sallab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
</body>
</html>
